services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-models
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
        - .env 
    ports:
        - ${PORT_ROOT}:${PORT_ROOT}
    depends_on:            
      - db
    volumes:
      - ./:/app

  db:                      
    image: postgres:16
    container_name: postgres_db_models
    restart: always
    environment:           
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:              
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - ${PORT_DB}:${PORT_DB}

volumes:
  postgres_data: